# Переменные приложения
DEBUG=True  # Также в данном шаблоне добавляет вывод тел сообщений в консоль. На стендах всегда False
LOCAL=True
APP_HOST=0.0.0.0
APP_PORT=8080

# Специфичные для OpenShift переменные
APPLICATION_NAME=<бизнес-имя приложения>
PROJECT_NAME=aigateway

# Логи
LOG_PATH=.
LOG_FILE_NAME=app.log
LOG_ROTATION=10 MB

# Метрики
METRIC_PATH=.
METRIC_FILE_NAME=app-metric.log

# Аудит
AUDIT_LOG_PATH=.
AUDIT_LOG_FILE_NAME=events.log
HOST_IP=127.0.0.1
HOST_UID=63bd6cbe-170b-49bf-a65c-3ce967398ccd

# Gigachat
GIGACHAT_HOST=gigachat-ift.sberdevices.delta.sbrf.ru
GIGACHAT_PORT=443
GIGACHAT_CA_BUNDLE_FILEPATH=
GIGACHAT_TLS_CERT_FILEPATH=
GIGACHAT_KEY_FILEPATH=

# Ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3
OLLAMA_TEMPERATURE=0.000001
OLLAMA_TIMEOUT=60

# Model selection
MODEL_TO_USE=OLLAMA

# Memory store selection
STORE_TO_USE=MEMORY


# Platform V Search
PVS_HOST=tslds-gwsrv0005.delta.sbrf.ru
PVS_PORT=19200
PVS_LOGIN=
PVS_PASSWORD=
PVS_INDEX_NAME=
PVS_CA_BUNDLE_FILEPATH=
PVS_TLS_CERT_FILEPATH=
PVS_KEY_FILEPATH=

# Pangolin
PG_HOST=tsldw-gwsrv0002.delta.sbrf.ru
PG_PORT=6544
PG_USER=
PG_PASSWORD=
PG_DATABASE=
PG_CA_BUNDLE_FILEPATH=
PG_TLS_CERT_FILEPATH=
PG_KEY_FILEPATH=

# IDP GigaSearch
IDP_HOST=sm.apps.dev-terra000003-ids.ocp.delta.sbrf.ru
IDP_PORT=443
IDP_SOURCE_UUID=
IDP_INDEX_ID=
IDP_CA_BUNDLE_FILEPATH=
IDP_TLS_CERT_FILEPATH=
IDP_KEY_FILEPATH=

# LangFuse
LANGFUSE_TRACING_ENABLED=True
LANGFUSE_HOST=
LANGFUSE_PORT=
LANGFUSE_ENDPOINT="/langfuse"
LANGFUSE_PUBLIC_KEY="pk-..."
LANGFUSE_SECRET_KEY="sk-..."
LANGFUSE_CA_BUNDLE_FILEPATH=
LANGFUSE_TLS_CERT_FILEPATH=
LANGFUSE_KEY_FILEPATH=


